[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "routes"

[packages]
wheel = "*"
Faker = "*"
flask = "~=2.3.2"
flask_cors = "==3.*"
flask_restful = "*"
flask_sqlalchemy = "==3.*"
gunicorn = "*"
jsonschema = "*"
marshmallow = "*"
marshmallow_sqlalchemy = "*"
psycopg2-binary = "==2.*"
psycopg2 = "==2.*"
python-abc = "*"
python-dotenv = "*"
sqlalchemy = "*"
exceptiongroup = "*"
requests = "*"

pytest = "~=7.2.0"
pytest-cov = "~=4.0.0"
pytest-mock = "~=3.10.0"
pytest-env = "~=0.8.1"